{% load static from staticfiles %}
<html>
<head>
    <title>Forecast</title>
    <h1>Forecast</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'Forecast/style.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>
<form id="post-form" action="{{ table_url }}">
    {% csrf_token %}
    {{ form }}
    <input id="submit-date" type="submit" value="Submit">
</form>
<div id="my-forecast"></div>
</body>
</html>

<script language="JavaScript">
    $("#submit-date").click(function(event) {
        event.preventDefault();
        console.log("here!");
        var monthField = $("#id_date_month")[0];
        var dayField = $("#id_date_day")[0];
        var yearField = $("#id_date_year")[0];
        var month = monthField.options[monthField.selectedIndex].value;
        var day = dayField.options[dayField.selectedIndex].value;
        var year = yearField.options[yearField.selectedIndex].value;
        var date = "" + year + ("0" + month).slice(-2) + ("0" + day).slice(-2);
        var url = $("#post-form")[0].action;
        console.log(url + date);
        $.ajax({
            url: url + date,
            success: function (data) {
                $("#my-forecast").html(data)
            },
            failure: function(data) {
                console.log("failure");
            }
        });
    })
</script>